<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550321097015-dn98p82dm6n73ulm2kimmtaeo3bdccmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550321097015-dn98p82dm6n73ulm2kimmtaeo3bdccmh</string>
	<key>API_KEY</key>
	<string>AIzaSyD0byTeV-pFK5bCKzdrIUCdTUMVCfpBwVk</string>
	<key>GCM_SENDER_ID</key>
	<string>550321097015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gumi.TestingFastlaneVer5</string>
	<key>PROJECT_ID</key>
	<string>testingfastlanever5</string>
	<key>STORAGE_BUCKET</key>
	<string>testingfastlanever5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550321097015:ios:8a556c3763706d3223b2b2</string>
</dict>
</plist>